* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 90vw;
  border: 1px solid red;
  height: 50vh;
  margin: 2rem auto;
  display: flex;
}

.justify-content-between{
justify-content: space-between;
}

.justify-content-around{
  justify-content: space-between;
}
  
.justify-content-end{
  justify-content: space-between;
}

.justify-content-center{
  justify-content: space-between;
}

.justify-content-evenly{
  justify-content: space-between;
}


div[class^='square'] {
  width: 75px;
  height: 75px;
}

.square-red {
  background-color: red;
}
.square-blue {
  background-color: blue;
}
.square-purple {
  background-color: purple;
}
.square-peru {
  background-color: peru;
}
